boto3==1.9.127
botocore==1.12.127
dj-database-url==0.5.0
Django==2.2.18
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-storages==1.7.1
djangorestframework==3.11.0
docutils==0.14
future==0.17.1
gunicorn==19.9.0
importlib-metadata==0.17
jedi==0.13.3
jmespath==0.9.4
parso==0.4.0
Pillow==8.1.1
pluggy==0.12.0
psycopg2==2.7.5
psycopg2-binary==2.8.2
python-dateutil==2.8.0
python-jsonrpc-server==0.1.2
pytz==2018.9
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.2
whitenoise==4.1.2
zipp==0.5.1
